.info_text{
    width: 100%;
    max-width: 48rem;
    margin:auto;
    line-height: 2rem;
    padding: 0 1rem;
}

.infolist{
    width: 100%;
    max-width: 48rem;
    margin:auto;
    padding: 0 1rem;
}

.info_text > p{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.info_text > h3,h2{
    margin-bottom:0.5rem;
    margin-top: 1rem;
}

