.cart-container {
    width: 100%;
    max-width: 58rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.cart-title {
    padding-bottom: 1rem;
}

.cart-item {
    height: 7rem;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: .5rem;
    justify-items: center;
    align-items: center;
    border: 1px solid #adadad;
    border-bottom: none;
}

.cart-item:nth-child(even) {
    background: #f2f2f2;
}

.cart-item .cart-button {
    height: 100%;
    width: 100%;
}

.cart-item .cart-button:hover button img {
    transform: scale(1.618);
}

.cart-item .cart-button button {
    height: 100%;
    width: 100%;
    background: none;
}

.cart-item .cart-button button img {
    height: 1rem;
    width: 1rem;
}

.cart-item .image {
    width: 10rem;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.cart-item .image img {
    height: 100%;
    mix-blend-mode: multiply;
}

.cart-item .description {
    width: 16rem;
}

.cart-item .description .category {
    color: #999999;
    margin-top: .5rem;
}

.cart-item .quantity {
    width: 8rem;
    display: flex;
    justify-content: center;
}

.cart-item .quantity p {
    text-align: center;
    width: 4rem;
    background: none;
}

.cart-item .single-price {
    color: #6a6a6a;
}

.cart-item .total-price {
    font-weight: bold;
}

.cart-item:nth-last-child(1) {
    height: 4rem;
    display: flex;
    padding: 0;
    border-bottom: 1px solid #adadad;
}

.cart-item .cart-total {
    text-align: center;
    width: 50%;
}

.cart-item .checkout {
    background: none;
    border: none;
    border-left: 1px solid #999999;
    padding: 0;
    line-height: 4rem;
    height: 100%;
    width: 50%;
}

.cart-item .checkout:hover {
    background: #f1230042;
}

@media (max-width: 680px) {
/* small-phone-screen */
    .cart-item {
        height: auto;
        padding: .25rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 6rem);
        grid-gap: .5rem;
        justify-items: center;
        align-items: center;
        border: 1px solid #adadad;
        border-bottom: none;
    }
}
