footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
    border-top: 1px solid #999999;
}

.footer-container {
    height: 100%;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 112em;
    display: flex;
    align-items: center;
}

.bottom-info {
    width: 70%;
    display:flex;
    justify-content: space-between;
}

.company-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.company-info h5 {
    text-align: left;
    border-bottom: 1px solid #999999;
    padding-bottom: .25em;
}

.company-info p, .company-info a {
    margin-top: .25em;
}

.bottom-line{
    width: 30%;
    color: #999999;
    text-align: right;
}

