footer {

    grid-area: footer;
    width: 100%;
    height: 100%;
    padding: 1em;

    /* background: rgba(255, 255, 255, 0.5); */
    /* box-shadow: 0 0 2em #00000010; */
    /* border-top: 1px solid #999999; */
    /* background: white; */
}

.info_container {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .info_text p,li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info_list {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.bottominfo {
    display:flex;
    justify-content: space-evenly;
}

.bottominfo p,h5{
    margin-top: 5px;
    font-size: small;
}
.bottominfo h5{
    margin-top: 18px;
    font-size: small;
}


.bottomline{
    color:grey;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;




}



