/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Global */
* { /* fix box-sizing */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button, input, select, option {
	font-family: 'Open Sans', sans-serif;
    border: none;
    background: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

html {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	font-weight: 400;
}

h1, h3, h5 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
} h1 {
    font-size: 4em;
} h3 {
    font-size: 2em;
} h5 {
	font-weight: 500;
    font-size: 1.2em;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: white;
    display: grid;
    grid-template:
        "navbar" 3em
        "main" auto
        "footer" 10em
        / 1fr;
    grid-gap: 2em;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}

.container {
    display: block;
    grid-area: main;
    max-width: 112em;
    width: 100%;
}

.disabled {
    cursor: not-allowed;
    background: #f2f2f2;
    color: #bbbbbb;
}

.btn {
    text-align: center;
    padding: .25em 1em;
    border: 1px solid #999999;
}

.btn:hover {
    background: #f2f2f2;
}

/* Breakpoints */
/* large-screens */
@media (max-width: 1800px) {
    
}
/* normal-screen */
@media (max-width: 1200px) {
    
}
/* small-screen */
@media (max-width: 900px) {
    
}
/* small-phone-screen */
@media (max-width: 600px) {
    html {
        font-size: 14px !important;
    }
}

