/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Global */
* { /* fix box-sizing */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button {
    border: none;
    background: none;
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

a:hover, button:hover {
    color: #999999;
}

html {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	font-weight: 400;
}

h1, h3, h5 {
    font-family: 'Bebas Neue', sans-serif;
	letter-spacing: .1em;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

h5 {
    font-weight: normal;
    font-size: 1.6em;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    display: grid;
    grid-template:
        "navbar" 3em
        "main" auto
        "footer" 8em
        / 1fr;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}

.container {
    display: block;
    grid-area: main;
    max-width: 114em;
    width: 100%;
}
