/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Global */
* { /* fix box-sizing */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, button {
    border: none;
    background: none;
    text-decoration: none;
    color: black;
}

html {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	font-weight: 400;
    scroll-behavior: smooth;
}

h1, h3, h5 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
} h1 {
    font-size: 4em;
} h3 {
    font-size: 2em;
} h5 {
	font-weight: 500;
    font-size: 1.2em;
}

body {
    width: 100vw;
    min-height: 100vh;
    background: white;
    display: grid;
    grid-template:
        "navbar" 3em
        "main" auto
        "footer" 8em
        / 1fr;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
}

.container {
    display: block;
    grid-area: main;
    width: 100%;
}

.disabled {
    cursor: not-allowed;
    background: #f2f2f2;
    color: #bbbbbb;
}


