nav {
    grid-area: navbar;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #999999;
}

.nav-container {
    margin: 0 auto;
    width: 100vw;
    max-width: 112em;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container .link-group {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-container .link-group form {
    padding: .75em 1em;
    display: flex;
}

.nav-container .link-group .search-bar {
    border: 1px solid #999999;
    padding: 0 .25em;
}

.nav-container .link-group form button {
    margin-left: 1em;
}

.nav-container .link-group form button img {
    height: 1em;
    width: 1em;
}

.nav-container .link-group a {
    height: 100%;
    display: block;
    line-height: 3em;
    width: 6em;
    text-align: center;
}

.nav-container .link-group a:hover {
    background: #f2f2f2;
}

.nav-container .link-group .active {
    height: calc(100% + 1px);
    border: 1px solid #999999;
    border-top: none;
    border-bottom: 1px solid white;
    z-index: 99999;
}

.nav-container .link-group .active:hover {
    cursor: default;
    background: white;
    color: black;
}

