main {
    width: 100%;
}

.products {
    width: 100vw;
    max-width: 114em;
    margin: 0 auto;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
    justify-items: center;
    align-items: center;
}

.filters {
    box-sizing: content-box;
    border: 1px solid #999999;
    grid-area: span 2;
    background: white;
    width: 100%;
    height: 100%;
}

.product {
    box-sizing: content-box;
    background: white;
    width: 100%;
    height: 100%;
    border: 1px solid #999999;
}

.product:hover {
    background: #f9f9f9;
    box-shadow: -1px -1px 8px #00000042;
}

.product .img-container {
    padding-top: 1em;
    height: 12em;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.product .img-container img {
    height: 100%;
    mix-blend-mode: darken;
}

.product .info {
    padding: 1em;
}

.product .info .title {
    border-bottom: 1px solid #adadad;
    padding-bottom: .5em;
}

.product .info .price {
    text-align: right;
    font-weight: 900;
    padding: .5em;
}

