main {
    width: 100%;
}

.products {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

aside {
    padding: 1em;
    width: 24em;
}

aside .search input {
    text-align: center;
    width: 100%;
}

section {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section .product {
    background: white;
    /* height: 24em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
    padding: 1em;
    margin-bottom: 1em;
    flex-grow: none;
    text-transform: none;
}

section .product .img-container {
    height: 12em;
    width: 100%;
    overflow: hidden;
}

section .product img {
    width: 100%;
    mix-blend-mode: darken;
}
