.view-profile {
    margin: 1rem auto 0 auto;
    display: grid;
    max-width: 36rem;
    grid-template:
        "pic info" 1fr
        "edit edit" 2rem
        / 18rem auto;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}

.view-profile .img-container {
    width: 18rem;
    overflow: hidden;
    grid-area: pic;
}

.view-profile .img-container img {
    width: 100%;
    height: inherit;
}

.view-profile .profile-info {
    grid-area: info;
    justify-self: start;
}

.view-profile .edit-btns {
    margin: 0;
    grid-area: span 1 / span 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.view-profile .edit-btns > * {
    width: calc(50% - .5rem);
}

/* Search history */
.searches {
    max-width: 32rem;
    margin-top: 1rem;
    border: 1px solid #999999;
}

.search-item {
    border: none;
    padding: 0 .5rem;
    display: flex;
}

.search-item:first-child {
    border-bottom: 1px solid #999999;
    font-weight: bold;
}
.search-item:first-child p {
    text-align: center;
}

.search-item:nth-child(even) {
    background: #f2f2f2;
}

.search-item:first-child:hover {
    background: none;
}

.search-item:hover {
    background: #dadada;
}

.search-item p:first-child {
    border-right: 1px solid #999999;
    width: 100%;
}

.search-item p:last-child {
    width: 20rem;
    text-align: center;
}

.search-item p {
    padding: .25rem 0;
    text-align: left;
}

@media (max-width: 600px) {
/* small-phone-screen */
    .view-profile {
        width: 20rem;
        grid-template:
            "pic" 1fr
            "info" 1fr
            "edit" auto
            / auto;
        grid-gap: 1rem;
    }

    .view-profile .edit-btns {
        grid-area: span 1 / span 1;
        flex-wrap: wrap;
    }

    .view-profile .edit-btns > * {
        width: 100%;
    }

    .view-profile .edit-btns > *:last-child {
        margin-top: 1rem;
    }
}

