{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <h3>Checkout</h3>
    <h5>Review</h5>
    <div class="checkout-form review-container">
        <div class="cart">
            <h5>Cart items</h5>
            {% for item in cart.all_items %}
            <div class="info">
                <p>{{ item.product.name }}</p>
                <div class="line"></div>
                <p><b>{{ item.total_price|intcomma }} kr.</b></p>
            </div>
            {% endfor %}
        </div>
        <div class="total">
            <h5>
                Total {{ cart.total_price|intcomma }} kr.
            </h5>
        </div>
        <form action="#" method="POST" class="steps">
            {% csrf_token %}
            <a class="btn"
                href="{% url 'checkout_review' pid=order.payment.id cid=order.contact.id %}">
                Go back
            </a>
            <button name="pay" value="pay" class="btn" type="submit">
                Pay
            </button>
            <p class="step-num">4 / 4</p>
        </form>
    </div>
{% endblock %}
