{% extends 'base.html' %}
{% block content %}
    <h3>Contact information</h3>
    <form class="basic-form checkout-form" action="#" method="POST">
        {% csrf_token %}
        {{ form.as_ul }}
        <li class="steps">
            <a class="btn"
                href="{% url 'cart' %}">
                Go back
            </a>
            <button class="btn" type="submit">
                Continue
            </button>
            <p class="step-num">1 / 4</p>
        </li>
    </form>
{% endblock %}
