<footer>
    <div class="container">
        <div class="info">
            <h5>Captain console</h5>
            <a target="_blank" href="https://www.google.com/maps/place/The+Florida+Mall/@28.4467224,-81.3954298,15z/data=!4m5!3m4!1s0x0:0xb7d19a07dc154483!8m2!3d28.4467224!4d-81.3954298">8001 S Orange Blossom Trail</a>
            <p>Orlando, FL 32809</p>
            <p>United States</p>
        </div>
        <div class="info">
            <h5>Contact us</h5>
            <a href="mailto:captain@captainconsole.com">captain@captainconsole.com</a>
            <a href="tel:+1-202-555-0149">Tel: +1-202-555-0149</a>
        </div >
        <div class="info">
            <h5>Opening hours</h5>
            <p>Week days: 10-18</p>
            <p>Weekends: 11-16 </p>
        </div>
        <div class="info">
            <h5>Info</h5>
            <a href="{% url 'terms' %}">Terms & conditions</a>
            <a href="{% url 'social' %}">Social Responsibility</a>
            <a href="{% url 'shipping' %}">Shipping and handling</a>
        </div>
        <p class="copyright">
            Prices are subject to change.<br>
            © 2020 Captain Console.<br>
            All rights reserved.
        </p>
    </div>
</footer>
