<footer>
    <div class="bottominfo">

        <div class="companyinfo">
            <h4>Captain console</h4>
            <p><a href="https://www.google.com/maps/place/The+Florida+Mall/@28.4467224,-81.3954298,15z/data=!4m5!3m4!1s0x0:0xb7d19a07dc154483!8m2!3d28.4467224!4d-81.3954298">
                8001 S Orange Blossom Trail</a></p>
            <p>Orlando,FL 32809</p>
            <p>United States</p>
        </div >

        <div class="companyinfo">
            <h4>Contact us</h4>
            <p><a href="mailto:captain@captainconsole.com">captain@captainconsole.com</a></p>
            <p><a href="tel:+1-202-555-0149">Tel: +1-202-555-0149</a></p>
        </div >

        <div class="companyinfo">
            <h4>Opening hours</h4>
            <p>Week days: 10-18</p>
            <p>Weekends: 11-16 </p>
        </div >

        <div class="companyinfo">
            <h4>Info</h4>
            <p><a href="{% url 'terms' %}">Terms&conditions</a></p>
            <p><a href="{% url 'terms' %}">Social Responsibility</a></p>
            <p><a href="{% url 'terms' %}">Shipping and handling</a></p>
        </div >

    </div>
    <div class="bottomline">Prices and offers are subject to change. © 2020 Captain Console. All rights reserved.
        Captain Console, the Captain Console logo, the tag design, My Captain Console,T and CAPTAINCONSOLE.COM are trademarks of Captain console.
    </div>

</footer>
