{% extends 'base.html' %}
{% load static %}
{% load url_manipulation %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <h1>
        Welcome to Captain Console!
    </h1>
    <p class="landing-description">
        We are a Florida based retro gaming shop with the goal of providing the best games, prices, customer service and experience in the world. Our love of old video games and the nostalgia they bring is the main reason for us operating and we aim to share that love and nostalgia with our customers while doing the best we can to support the environment.
    </p>
    <h3 class="daily-title">
        Featured products of the day:
    </h3>
    <div class="products">
        {% for prod in products %}
        <a href="{{ prod.get_absolute_url }}" class="product">
            <div class="img-container">
                <img src="{% static 'img/products/'|add:prod.thumbimg %}"
                alt="{{ prod.name }}">
            </div>
            <div class="info">
                <p class="title">{{ prod.name }}</p>
                <p class="price">{{ prod.price }} kr.</p>
            </div>
            <div class="hover-info">
                <p class="desc">{{ prod.short_desc }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
