{% extends 'base.html' %}
{% load static %}
{% load url_manipulation %}
{% block content %}
    <h1>
        Welcome to Captain Console!
    </h1>
    <p class="landing-description">
        Family run, retro video game store with guaranteed original consoles and video games for your gaming needs and hunger for nostalgia!
    </p>
    <h3 class="daily-title">
        Featured products of the day:
    </h3>
    <div class="products">
        {% for prod in products %}
        <a href="{{ prod.get_absolute_url }}" class="product">
            <div class="img-container">
                <img src="{% static 'img/products/'|add:prod.thumbimg %}"
                alt="{{ prod.name }}">
            </div>
            <div class="info">
                <p class="title">{{ prod.name }}</p>
                <p class="price">{{ prod.price }} kr.</p>
            </div>
            <div class="hover-info">
                <p class="desc">{{ prod.short_desc }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
