{% load navbar_tags %}
{% load static %}
<nav>
    <div class="nav-container">
    {% for link_group in navbar_links %}
        <div class="link-group">
        {% for item in link_group %}
        {% if item == 'search' %}
            <form class="{% active item title %}" id="search-form" action="{% url item %}">
                <input class="search-bar" id="search-field" type="text" name="search" value="Search...">
                <button id="search-btn" type="submit">
                    <img src="{% static 'img/search.svg' %}" alt="Search">
                </button>
            </form>
        {% elif item|typeof == 'tuple' %}
            {% if item.0|typeof == 'SimpleLazyObject' %}
            <div class="dropdown user-dropdown">
                <a class="{% active item.1 title %} nav-link user-link">
                    <p>{{ item.0 }}</p>
                    {% if item.0.customer.avatar %}
                    <img class="avatar" src="{{ item.0.customer.avatar.url }}">
                    {% endif %}
                </a>
            {% else %}
            <div class="dropdown">
                <a class="{% active item.1 title %} nav-link">{{ item.0 }}</a>
            {% endif %}
                <div class="dropdown-content">
                {% for name in item.1 %}
                    {% if name|typeof == 'dict' %}
                    {% for k, v in name.items %}
                    <a class="nav-link" href="{% url v %}">{{ k }}</a>
                    {% endfor %}
                    {% else %}
                    <a class="nav-link" href="{% url name %}">{{ name|capfirst }}</a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% elif item|typeof == 'dict' %}
        {% for k, v in item.items %}
            <a class="nav-link {% active v title %}" href="{% url v %}">{{ k }}</a>
        {% endfor %}
        {% else %}
            <a class="nav-link {% active item title %}" href="{% url item %}">{{ item|capfirst }}</a>
        {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</nav>

