{% load navbar_tags %}
{% load static %}
<nav>
    <div class="nav-container">
        <div class="link-group">
            {% for name in navbar_links.0 %}
            <a class="{% active name title %}" href="{% url name %}">{{ name|capfirst }}</a>
            {% endfor %}
        </div>
        <div class="link-group">
            <form class="{% active name 'all' %}" id="search-form" action="{% url 'all' %}">
                <input class="search-bar" id="search-field" type="text" name="search" value="Search...">
                <button id="search-btn" type="submit">
                    <img src="{% static 'img/search.svg' %}" alt="Search">
                </button>
            </form>
        </div>
        <div class="link-group">
            {% for name in navbar_links.1 %}
            <a class="{% active name title %}" href="{% url name %}">{{ name|capfirst }}</a>
            {% endfor %}
        </div>
    </div>
</nav>
<script src="{% static 'js/navbar.js' %}"></script>

