{% load navbar_tags %}
{% load static %}
<nav>
    <div class="nav-container">
        {% for link_group in navbar_links %}
        <div class="link-group">
            {% for name in link_group %}
            {% if name == '#search' %}
                <form class="{% active title 'All' %}" id="search-form" action="{% url 'all' %}">
                    <input class="search-bar" id="search-field" type="text" name="search" value="Search...">
                    <button id="search-btn" type="submit">
                        <img src="{% static 'img/search.svg' %}" alt="Search">
                    </button>
                </form>
            {% elif name == '#user' %}
                <a href="#">User</a>
            {% elif name == 'about' %}
                <div class="dropdown" style="float:right;">
                    <button class="dropbtn">{{ name|capfirst }}</button>
                    <div class="dropdown-content">
                        <a href="{% url 'about' %}">About Us</a>
                        <a href="{% url 'employees' %}">Employees</a>
                        <a href="{% url 'contacts' %}">Contacts</a>
                    </div>
                </div>

            {% else %}
                <a class="{% active name title %}" href="{% url name %}">{{ name|capfirst }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</nav>
<script src="{% static 'js/navbar.js' %}"></script>

