
{% load static %}
{% load url_manipulation %}
<div class="products {% if not products %}no-prods{% endif %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    {% for prod in products %}
            <a href="{{ prod.get_absolute_url }}" class="product">
                <div class="img-container">
                    <img src="{% static 'img/products/'|add:prod.thumbimg %}"
                    alt="{{ prod.name }}">
                </div>

            </a>
    {% endfor %}
</div>