{% extends 'base.html' %}
{% load static %}
{% load url_manipulation %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <main>
        <div class="products {% if not products %}no-prods{% endif %}">
            {% if not products %}
            <h3>No products found...<br>sorry!</h3>
            {% endif %}
            {% if products %}
            <div class="filters">
                <a class="filter btn" href="{{ name }}{% query_transform sort='price' %}">Price: Lowest to highest</a>
                <a class="filter btn" href="{{ name }}{% query_transform sort='-price' %}">Price: Highest to lowest</a>
                <a class="filter btn" href="{{ name }}{% query_transform sort='name' %}">Alphabetical</a>
                <select class="filter-sel btn" id="filter-keywords">
                    <option value="" hidden="true">Filter by keyword</option>
                    {% for key, pretty in keyword_opts %}
                    <option class="sel-opt" value="{{ key }}">{{ pretty }}</option>
                    {% endfor %}
                </select>
                <select class="filter-sel btn" id="per-page">
                    <option value="" hidden="true">Items per page</option>
                    <option class="sel-opt" value="8">8</option>
                    <option class="sel-opt" value="16">16</option>
                    <option class="sel-opt" value="32">32</option>
                    <option class="sel-opt" value="64">64</option>
                </select>
            </div>
            {% for prod in products %}
            <a href="{{ prod.get_absolute_url }}" class="product">
                <div class="img-container">
                    <img src="{% static 'img/products/'|add:prod.thumbimg %}"
                    alt="{{ prod.name }}">
                </div>
                <div class="info">
                    <p class="title">{{ prod.name }}</p>
                    <p class="price">{{ prod.price }} kr.</p>
                </div>
                <div class="hover-info">
                    <p class="desc">{{ prod.short_desc }}</p>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
        {% if products and products.paginator.num_pages != 1 %}
        <div class="pagination">
            {% if products.has_previous %}
            <a class="pagination-segment"
                href="{{ name }}{% query_transform page=products.previous_page_number %}">
                previous
            </a>
            {% else %}
            <span class="pagination-segment disabled">
                previous
            </span>
            {% endif %}
            <span class="pagination-segment">
                {{ products.number }} / {{ products.paginator.num_pages }}
            </span>
            {% if products.has_next %}
            <a class="pagination-segment"
                href="{{ name }}{% query_transform page=products.next_page_number %}">
                next
            </a>
            {% else %}
            <span class="pagination-segment disabled">
                next
            </span>
            {% endif %}
        </div>
        {% endif %}
    </main>
    <script src="{% static 'js/products.js' %}"></script>
{% endblock %}
