{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="product-single">
        <h3>{{ prod.name }}</h3>
        <div class="images">
        {% for img in prod.imglist %}
            <img src="{% static 'img/products/'|add:img %}" alt="{{ prod.name }}">
        {% endfor %}
        </div>
        <h3>{{ prod.price }} kr.</h3>
        <p class="desc">{{ prod.description }}</p>
        <div class="buttons">
            <form class="btn"
                {% if user.is_authenticated %}
                action="{% url 'add_item' %}"
                {% else %}
                action="#"
                {% endif %}
                method="POST">
                {% csrf_token %}
                <input type="hidden" name="prev" value="{{ prev }}">
                <button type="submit" name="id" value="{{ prod.id }}">
                    Add to cart
                </button>
                <input type="number" name="quantity" value=1 min=1 max=10>
            </form>
            {% if prev %}
            <a class="btn" href="{{ prev }}">Go back</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
