{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <div class="product-single">
        <h3>{{ prod.name }}</h3>
        <div class="images">
        {% for img in prod.imglist %}
            <img src="{% static 'img/products/'|add:img %}" alt="{{ prod.name }}">
        {% endfor %}
        </div>
        <h3>{{ prod.price }} kr.</h3>
        <p class="desc">{{ prod.description }}</p>
        <div class="buttons">
            <button class="btn">Add to cart</button>
            {% if prev %}
            <a class="btn" href="{{ prev }}">Go back</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
