{% extends 'base.html' %}
{% block content %}
    <h1>Contacts</h1>
    <h5>For general purposes: <a href="mailto:captain@captainconsole.com">captain@captainconsole.com</a></h5>
    <h5>For head of marketing: <a href="mailto:mark@captainconsole.com">mark@captainconsole.com</a></h5>
    <h5>For distribution: <a href="mailto:steven@captainconsole.com">steven@captainconsole.com</a></h5>
    <h5>For receipts, claims or finance: <a href="mailto:sophie@captainconsole.com">sophie@captainconsole.com</a></h5>
    <h5>For inventory management and sales: <a href="mailto:bill@captainconsole.com">bill@captainconsole.com</a></h5>

{% endblock %}
