{% extends 'base.html' %}
{% block content %}
    <h1>Employees</h1>
    <div class="employee">
        <h2>Mark</h2>
        <p>Mark is the younger brother of the two that founded Captain Console. He loved video games as a kid even though he mostly had to watch his older brother play and hope that he would let him play as well. Mark works everyday in the shop, manages the business and even helps out with deliveries.</p>
    </div>
    <div class="employee">
        <h2>Steven</h2>
        <p>Steven is the older brother of the two and is the one that introduced mark to video games at a young age. Video games were always part of his childhood growing up but now they are part of his adult life as well. Steven works everyday in the shop, manages the business and even helps out with deliveries.</p>

    </div>
    <div class="employee">
        <h2>Elizabeth</h2>
        <p>Elizabeth is Mark´s and Steven´s younger sister. She is not a big game enthusiast but she uses the opportunity to help out the family and uses the work to support herself through college. Elizabeth mostly works in the shop and handles orders inside the shop.</p>
    </div>

    <div class="employee">
        <h2>Jack</h2>
        <p>Jack is the father of the family at Captain Console. He used to work as a teacher but has gone into retirement and almost as a hobby has taken to help out the business and make sure all of his kids get along. Jack drives out the orders at the end of every day each day after he has done his golf routine. </p>
    </div>

    <div class="employee">
        <h2>Sophie</h2>
        <p>Sophie is the mother and „boss“ of everyone at Captain Console. She used to work as an account and like Jack has has gone into retirement and handles all the finances for the businesss. She is not a big gamer like her sons but she once said that she thought Mario was cute. </p>
    </div>

    <div class="employee">
        <h2>Bill</h2>
        <p>Bill is a close friend of Steven´s and the family and has known them for over twenty years. Bill used to help the brothers out when the company started but eventually got himself a full position inside the shop. Bill has always loved video games and he handles the inventory and makes sure we have all the items you want. </p>
    </div>

    <div class="employee">
        <h2>Bingo</h2>
        <p>Last of the family is Bingo, the company guard dog. He is the driving force of this company and makes sure that everyone stays one their feet and keeps the spirit up. Bingo used to wander around the shop when he was a stray pup. The brothers sometimes gave him something to eat and eventually they adopted him and has showed up to work everyday since. </p>
    </div>

{% endblock %}
