
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="info-container" >
        <h1>About the Captain</h1>
        <div class="info_text">
            <p>
                Captain Console is a family owned company that was founded on the love and nostalgia of the video games we played growing up.
                We specialize in original video game consoles, video games and accessories.
            </p>

            <p>
                The company was established by two brothers in 2012 and has since then grown to incorporate other family members and friends as staff.
            </p>

            <p>
                We are a small but ambitious company with future goals of becoming the greatest, biggest an most recognized retro gaming shop out there!
                We sell everything from ZX Spectrum to Gameboy but we specialize in providing you with the best costumer service possible.
            </p>
            <p>
            We aim to provide great service, great prices, great selection and share the love of retro video games with the entire community.
            </p>
        </div>
    </div>
{% endblock %}
