{% extends 'base.html' %}

{% block content %}
    <div class="info_container" >
        <h1>Shipping & returns</h1>
        <div class="info_text">
            <p>Captain Console ("we" and "us") is the operator of (https://www.captainconsole.com) ("Website"). By placing an order through this Website you will be agreeing to the terms below. These are provided to ensure both parties are aware of and agree upon this arrangement to mutually protect and set expectations on our service.</p>
            <h3>General</h3>
            <p>Subject to stock availability. We try to maintain accurate stock counts on our website but from time-to-time there may be a stock discrepancy and we will not be able to fulfill all your items at time of purchase. In this instance, we will fulfill the available products to you, and contact you about whether you would prefer to await restocking of the backordered item or if you would prefer for us to process a refund.</p>
            <h3>Shipping costs</h3>
            <p>Shipping costs are calculated during checkout based on weight, dimensions and destination of the items in the order. Payment for shipping will be collected with the purchase. This price will be the final price for shipping cost to the customer.</p>
            <h3>Returns</h3>
            <h4>Return to due to change of mind</h4>
            <p>Captain Console will happily accept returns due to change of mind as long as a request to return is received by us within 90 days of receipt of item and are returned to us in original packaging, unused and in resellable condition. Return shipping will be paid at the customers expense and will be required to arrange their own shipping. Once returns are received and accepted, refunds will be processed to store credit for a future purchase. We will notify you once this has been completed through email. (Captain Console) will refund the value of the goods returned but will NOT refund the value of any shipping paid.</p>
            <h4>Warranty returns</h4>
            <p>Captain Console will happily honor any valid warranty claims, provided a claim is submitted within 90 days of receipt of items. Customers will be required to pre-pay the return shipping, however we will reimburse you upon successful warranty claim. Upon return receipt of items for warranty claim, you can expect Captain Console to process your warranty claim within 7 days. Once warranty claim is confirmed, you will receive the choice of:</p>
            <div class="infolist">
                <ol type="a">
                    <li>refund to your payment method</li>
                    <li>a refund in store credit</li>
                    <li>a replacement item sent to you (if stock is available)</li>
                </ol>
            </div>
            <h3>Delivery terms</h3>
            <h4>Transit time domestically</h4>
            <p>In general, domestic shipments are in transit for 2 - 7 days</p>
            <h4>Transit time Internationally</h4>
            <p>Generally, orders shipped internationally are in transit for 4 - 22 days. This varies greatly depending on the courier you have selected. We are able to offer a more specific estimate when you are choosing your courier at checkout.</p>
            <h4>Change Of Delivery Address</h4>
            <p>Orders placed before 04 PM - AEST (UTC+10) will be dispatched the same day, otherwise, within the next business day. Our warehouse operates on Monday - Friday during standard business hours, except on national holidays at which time the warehouse will be closed. In these instances, we take steps to ensure shipment delays will be kept to a minimum.</p>
            <p>For change of delivery address requests, we are able to change the address at any time before the order has been dispatched.</p>
            <h4>P.O. Box Shipping</h4>
            <p>Captain Console will ship to P.O. box addresses using postal services only. We are unable to offer couriers services to these locations.</p>
            <h4>Military Address Shipping</h4>
            <p>We are able to ship to military addresses using USPS. We are unable to offer this service using courier services.</p>
            <h4>Items Out Of Stock</h4>
            <p>If an item is out of stock, we will dispatch the in-stock items immediately and send the remaining items once they return to stock.</p>
            <h4>Delivery Time Exceeded</h4>
            <p>If delivery time has exceeded the forecasted time, please contact us so that we can conduct an investigation.</p>
            <h3>Tracking Notifications</h3>
            <p>Upon dispatch, customers will receive a tracking link from which they will be able to follow the progress of their shipment based on the latest updates made available by the shipping provider</p>
            <h3>Parcels Damaged In Transit</h3>
            <p>If you find a parcel is damaged in-transit, if possible, please reject the parcel from the courier and get in touch with our customer service. If the parcel has been delivered without you being present, please contact customer service with next steps.</p>
            <h3>Duties & Taxes</h3>
            <h4>Sales Tax</h4>
            <p>Sales tax has already been applied to the price of the goods as displayed on the website</p>
            <h4>Import Duties & Taxes</h4>
            <p>Import duties and taxes for international shipments may be liable to be paid upon arrival in destination country. This varies by country, and Captain Console encourage you to be aware of these potential costs before placing an order with us. If you refuse to to pay duties and taxes upon arrival at your destination country, the goods will be returned to Captain Console at the customers expense, and the customer will receive a refund for the value of goods paid, minus the cost of the return shipping. The cost of the initial shipping will not be refunded.</p>
            <h3>Cancellations</h3>
            <p>If you change your mind before you have received your order, we are able to accept cancellations at any time before the order has been dispatched. If an order has already been dispatched, please refer to our refund policy.</p>
            <h3>Insurance</h3>
            <p>Parcels are insured for loss and damage up to the value as stated by the courier.</p>
            <h4>Process for parcel damaged in-transit</h4>
            <p>We will process a refund or replacement as soon as the courier has conducted an investigation and deemed the parcel lost.</p>
            <h3>Customer service and questions</h3>
            <p>If you have any questions concerning our return policy, please contact us at:</p>
            <a href="mailto:captain@captainconsole.com">captain@captainconsole.com</a>
            <a href="tel:+1-202-555-0149">Tel: +1-202-555-0149</a>
       </div>
    </div>
{% endblock %}
