{% extends 'base.html' %}

{% block content %}
    <div class="info_container" >
        <h1>Social responsibility</h1>
        <div class="info_text">
            <p>The Captain cares for the environment and so does his employees. We take pride in having taken steps to reduce our carbon footprint and aim to to do so even further.</p>
            <p>At Captain console, we aim to positively impact the world, enrich people’s lives through technology and contribute to the common good. We are an organization with a heart and soul that is built upon purposeful, values-driven leadership. We demonstrate this through our commitment to communities, people and the environment.</p>
            <p>We supply all our employees with electric scooters which they can use as transportation to and from work to reduce emissions and the entire company regulary participates in community cleanup where we clean, repair and improve public spaces.  </p>
            <p>The Captain also has a strict no plastic policy where all our products are stored, sold and shipped in recyclable cardboard packaging.</p>
            <p>We offer our products to be shipped and for those who are in proximity of our shop get their order delivered by our staff in our zero emission electric cars.</p>
            <p>All our games that do not get sold and stay for over a year on our shelves, get donated to the nearest hospital for entertainment purposes.</p>
            <p>We try to do what we can to support our community and our planet.</p>
       </div>
    </div>
{% endblock %}
