{% extends 'base.html' %}
{% block content %}
    <h1>Login</h1>
    <form class="site-form" action="/user/login/" method="POST">
        {% csrf_token %}
        <ul class="basic-form">
            {{ form.as_ul }}
            <li>
                <button class="btn" type="submit">Login</button>
            </li>
            
        </ul>
        <p class="register_link">Don't have an account yet? <a class="signup_link" href="{% url 'register' %}">Sign up now!</a></p>
    </form>
{% endblock %}



