{% extends 'base.html' %}
{% block content %}
    <h3>Profile</h3>
    <div class="basic-form view-profile">
        {% if user.customer.avatar %}
            <div class="img-container">
                <img src="{{ user.customer.avatar.url }}">
            </div>
        {% endif %}
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }}</p>
        {% if user.last_name %}
        <p>Last name: {{ user.last_name }}</p>
        {% endif %}
        <p>Email: {{ user.email }}</p>
        <a class="btn" href="{% url 'edit' %}">Edit profile</a>
    </div>
{% endblock %}
