{% extends 'base.html' %}
{% block content %}
    <h3>Profile</h3>
    <div class="view-profile">
        {% if user.customer.avatar %}
            <div class="img-container">
                <img src="{{ user.customer.avatar.url }}">
            </div>
        {% else %}
            <div class="img-container">
                <svg viewbox="0,0,150,150">
                    <rect x=25 y=120 width=100 height=100 fill=black></rect>
                    <circle cx=75 cy=120 r=50 fill=black></circle>
                    <circle cx=75 cy=60 r=30 fill=white></circle>
                    <circle cx=75 cy=60 r=20 fill=black></circle>
                </svg>
            </div>
        {% endif %}
        <div class="profile-info">
            <p><b>Username</b> - {{ user }}</p>
            {% if user.first_name %}
            <p><b>First name</b> - {{ user.first_name }}</p>
            {% endif %}
            {% if user.last_name %}
            <p><b>Last name</b> - {{ user.last_name }}</p>
            {% endif %}
            {% if user.email %}
            <p><b>Email</b> - {{ user.email }}</p>
            {% endif %}
        </div>
        <div class="edit-btns">
            <a class="btn" href="{% url 'edit' %}">
                Edit profile
            </a>
            <a class="btn" href="{% url 'change_password' %}">
                <b>Change password</b>
            </a>
        </div>
    </div>
{% endblock %}
