{% extends 'base.html' %}
{% block content %}
    <h3>Profile</h3>
    <div class="basic-form view-profile">
        {% comment %} {% if user.customer.avatar %} {% endcomment %}
        {% comment %}     <div class="img-container"> {% endcomment %}
        {% comment %}         <img src="{{ user.customer.avatar.url }}"> {% endcomment %}
        {% comment %}     </div> {% endcomment %}
        {% comment %} {% else %} {% endcomment %}
            <div class="img-container">
                <svg viewbox="0,0,150,150">
                    <rect x=25 y=120 width=100 height=100 fill=black></rect>
                    <circle cx=75 cy=120 r=50 fill=black></circle>
                    <circle cx=75 cy=60 r=30 fill=white></circle>
                    <circle cx=75 cy=60 r=20 fill=black></circle>
                </svg>
            </div>
        {% comment %} {% endif %} {% endcomment %}
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }}</p>
        {% if user.last_name %}
        <p>Last name: {{ user.last_name }}</p>
        {% endif %}
        <p>Email: {{ user.email }}</p>
        <a class="btn" href="{% url 'edit' %}">Edit profile</a>
    </div>
{% endblock %}
